/Windows-MacOs/Windows-MacOs/Reafs_R_Web
/Windows-MacOs/Windows-MacOs/Reafs_T
/Windows-MacOs/Windows-MacOs/Reafs_W
/Windows-MacOs/Windows-MacOs/bin
/Windows-MacOs/Windows-MacOs/obj/Debug
/Windows-MacOs/Windows-MacOs/Notes
/Windows-MacOs/packages
/Windows-MacOs/.vs
/Windows-MacOs/.vs/WinMac/FileContentIndex
/Windows-MacOs/Windows-MacOs/dist
/Windows-MacOs/Windows-MacOs/logs
/Windows-MacOs/Windows-MacOs/Files
/Windows-MacOs/Windows-MacOs/obj/Release
/Windows-MacOs/Windows-MacOs/obj/x86/Debug
