@{
    ViewBag.Title = "Viewer";
}

<div name="content" class="content col-flex">
    <div class="wrapped border-1" style="flex-basis: 40px;">
        <div class="row">
            <a class="btn btn2 small" href="javascript:void(0)" id="btnSave"><i class="fa-solid fa-floppy-disk"></i></a>
        </div>
    </div>
    <div class="resizer-y" id="btnResizer"></div>
    <div class="wrapped border-2 scroll-y" style="flex: 1;">
        <div class="row">
            <div class="col-md-12" id="viewdata">
                
            </div>
        </div>
    </div>
</div>
<script>

</script>
<style>
</style>

