@{
    ViewBag.Title = "Viewer";
}

<div name="content" class="content col-flex">
    <div class="wrapped border-1 scroll-y" style="flex-basis: 40px;">
        <div class="row">
        </div>
    </div>
    <div class="resizer-y" id="btnResizer"></div>
    <div class="wrapped border-2 scroll-y" style="flex: 1;">
        <div class="row">
            <div class="col-md-12" id="viewdata">
                
            </div>
        </div>
    </div>
</div>
<script>

</script>
<style>
</style>

