@model List<WinMacOs.CanvasMenuModel>
<div id="cover"></div>
<div id="datatable_inner" class="col-md-12" style="height:100%;">
    <table class="menu-datatable">
        <tbody id="datalist">
            <tr>
                @{ int index = -1;}
                @for (int i = 0; i < Model.Count(); i++)
                {
                    @Html.EditorFor(model => Model[i], new { idx = i, index = index });
                }
            </tr>
        </tbody>
    </table>
</div>
<script>

</script>
<style>
    .menu {
        border: none;
        cursor: pointer;
        text-align: left;
        color: #fff;
        font-size: 14px;
    }
    .open-cover {
        position: fixed;
        background: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .menu nav.open-menu {
        width: 100%;
    }

    .menu nav {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        overflow-x: hidden;
        text-align: left;
        width: 0;
        transition: .5s;
        background: #ffffff;
        letter-spacing: 4px;
        font-weight: bold;
    }
</style>