@model WinMacOs.MenuModel
@{
    Layout = null;
    var idx = ViewBag.idx;
    var index = ViewBag.index;
}


<td class="is-centered menu" style="position:relative;" data-group-index="@index" data-index="@idx">
    <div id="menu-@idx">
        @Html.DisplayFor(model => model.MenuName)
    </div>
    <nav id="nav-@idx">
        <ul class="block tcc-menu-list">
            <li class="xmark issp"><button class="btn-menu" id="btn-menu-close"><i class="fa-solid fa-xmark"></i></button></li>
            <li><a href="../Mitsumori/MIL000100" target="ifrm-0000" tabindex="10"><div id="menu_01"><i class="fa-solid fa-calculator"></i>見積</div></a> </li>
            <li><a href="../Chumon/CHUMON00" target="ifrm-0000" tabindex="10"><div id="menu_02"><i class="fa-solid fa-check"></i>注文</div></a></li>
            <li><a href="../Kanryokensa/KANRYOKENSA00" target="ifrm-0000" tabindex="10"><div id="menu_03"><i class="fa-solid fa-hand-point-right"></i>完了検査依頼</div></a></li>
            <li><a href="../Miseikyu/MISEIKYU01" target="ifrm-0000" tabindex="10"><div id="menu_05"><i class="fa-solid fa-file-circle-xmark"></i>未請求</div></a></li>
            <li><a href="../Seikyu/SEIKYU00" target="ifrm-0000" tabindex="10"><div id="menu_04"><i class="fa-solid fa-file-circle-check"></i>請求</div></a></li>
            <li class="flex">
                <span class="w50"><a href="../Kensaku/KENSAKU01"><i class="fa-solid fa-magnifying-glass"></i>検索</a></span>
                <span class="w50"><a href="../Main/main" class="bg_blue"><i class="fa-solid fa-house"></i>ホーム</a></span>
            </li>
        </ul>
    </nav>
</td>
<script>
    $(document).ready(function () {
        var btn1 = document.getElementById(`menu-@idx`);
        var nav = document.getElementById(`nav-@idx`);
        var cover = document.getElementById('cover');

        btn1.addEventListener('click', () => {
            nav.classList.toggle('open-menu');
            cover.classList.toggle("open-cover");
        });


        $(document).mouseup(function (e) {
            if ($(e.target).closest(".open-menu").length === 0) {
                if (nav.classList.contains("open-menu")) {
                    nav.classList.toggle('open-menu');
                    cover.classList.toggle("open-cover");
                }
            }
        });

    });
</script>
<style>
</style>