<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".feature.home.activity.HomeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.BinLocationService"
            android:exported="false"
            android:foregroundServiceType="dataSync|location" />

        <activity
            android:name=".feature.login.activity.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/LoginTheme" />

        <activity
            android:name=".feature.sign.SignActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme2" />

        <provider
            android:name=".common.UserFileProvider"
            android:authorities="${applicationId}.user_provider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <service
            android:name=".service.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.DownloadService"
            android:exported="false" />

        <activity
            android:name=".chat.activity.Chat"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".chat.activity.AddRoom"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".chat.activity.EditRoom"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".chat.activity.Camera"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".chat.activity.ChatOption"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".chat.activity.ExoMediaPlayer"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".chat.activity.Gallery"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".chat.activity.Recorder"
            android:theme="@style/AppTheme2" />
    </application>
</manifest>
