@model List<WinMacOs.Models.Manager.SQLCompare.SQLTableModel>

<div class="scroll" style="position: relative; max-height:314px;">
    <table class="datatable">
        <thead class="frezze-header border-bt-violet-0">
            <tr>
                <td class="w10 text-left" rowspan="2">Type</td>
                <td class="w5 text-right" rowspan="2">Owner</td>
                <td class="w30 text-right" rowspan="2">Object Name</td>
                <td class="w10 text-center" rowspan="2"><input type="checkbox" id="checkbox1"></td>
                <td class="w30 text-left" rowspan="2">Object Name</td>
                <td class="w15 text-left" rowspan="2">Owner</td>
            </tr>
            <tr>
                <td class="w10"></td>
                <td class="w5"></td>
                <td class="w30"></td>
                <td class="w10"></td>
                <td class="w30"></td>
                <td class="w15"></td>
            </tr>
        </thead>
        <tbody id="datalist">
            @{ int index = -1;}
            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.EditorFor(model => Model[i], new { idx = i, index = index });
            }
        </tbody>
    </table>
</div>

<script>

</script>
