
<div class="row">
    <canvas id="myCanvas" width="300" height="150" style="border:1px solid #d3d3d3;background:#ffffff;">
        YourbrowserdoesnotsupporttheHTML5canvastag.
    </canvas>
</div>

<script>
    
</script>
<style>

</style>