@{
    @model WinMacOs.Models.Viewer.MimeContentResultModel
    ViewBag.Title = "ViewFile";
}

<div id="sql-data" class="sql-data text-prewrap"></div>
<div>
    @Html.HiddenFor(model => model.Content)
    @Html.HiddenFor(model => model.FileName)
    @Html.HiddenFor(model => model.ContentType)
</div>
@Scripts.Render("~/bundles/viewer/viewfile")
<script>
    
</script>
<style>
</style>

